
* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  max-width: 100%;
  height: 700px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('images/refinery1.jpg');
  position: relative;
  background-size: cover;
}

/* Navigation Bar */

.container-nav {
  max-width: 90%;
  padding-top: 1.5rem;
  margin: 0 auto;
}

.logo {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#logo1 {
  text-decoration: none;
}

#trident {
  color: orange;
}

#hydro {
  color: cyan;
}

.topnav {
  margin-bottom: 0.5em;
}

nav ul {
  list-style-type: none;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
}

nav li {
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: solid;
}

nav a:hover {
  transition: 0.5s;
  text-decoration: underline orange;
}

.current {
  color: cyan;
}

/* Introduction Paragraph */

.intro {
  text-align: center;
  padding: 15% 2em;
  color: white;
  font-size: 1rem;
}

.intro h1{
  margin-bottom: 0.5rem;
}

.intro p {
  font-size: 1.5em;
}

.engg {
  font-weight: bolder;
}

#intro-countries {
  font-weight: bold;
  font-size: 1em;
  color: orange;
  margin-bottom: 1.75em;
}

#scroll-key {
  text-decoration: none;
  text-align: center;
  color: cyan;
  font-size: 3.5em;
}

#scroll-key:hover {
  color: orange;
}


/* Media Queries for Header */

@media (min-width: 769px) {
  header {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 1065px;
  }

  .intro {
    font-size: 3rem;
  }

  .intro h1 {
    margin-bottom: 0.25em;
  }

  .intro p {
    font-size: 2.25rem;
    margin-bottom: 0.25em;
  }

  .engg {
    font-size: 1.25em;
  }

  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin-left: 3em;
  }
  .about {
    border-left: 2px solid white;
    padding-left: 1em;
  }

  .services {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 1em;
  }

  .group {
    border-right: 2px solid white;
    padding-right: 1em;
  }
}

@media (min-width: 1025px) {

  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 1.25rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .logo {
  }

  .about {
    border-left: 2px solid white;
    padding-left: 1em;
  }

  .services {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 1em;
  }

  .group {
    border-right: 2px solid white;
    padding-right: 1em;
  }
}

@media (min-width: 2000px) {
  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 2rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin-left: 2.5rem;
    font-size: 1.5em;
  }

  .current {
    padding: 0 1em;
  }

  .about {
    border-left: 2px solid white;
    padding: 0 1em;
  }

  .services {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 1em;
  }

  .group {
    border-right: 2px solid white;
    padding: 0 1em;
  }

  .contacts {
    padding-left: 1em;
  }
}

/* =============
      Content
  ============== */

  /* Cards for Products and Services */

.catalog-services {
  width: 100%;
  object-fit: cover;
  border: 2px solid magenta ;
}

.catalog-services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1.5em;
}

.catalog-services1, .catalog-services2, .catalog-services3 {
  width: 70%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  border: 7px solid orange;
  position: relative;
  object-fit: cover;
  margin: 0 auto;
  text-align: center;
}

.catalog-services1:hover .catalog-services-title {
  bottom: 0;
}

.catalog-services-title {
  width: 100%;
  height: 100%;
  bottom: -110%;
  position: absolute;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(2px);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
  border-radius: 8px;
}

.card1 .exchanger {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1 .read-more {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  margin-top: 10%;
}

/* Card 2 */

.catalog-services2:hover .catalog-services-title {
  bottom: 0;
}

.catalog-services-title {
  width: 100%;
  height: 100%;
  bottom: -110%;
  position: absolute;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(2px);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
  border-radius: 8px;
}

.card2 .tank {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 .read-more {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  margin-top: 10%;
}

/* Card 3 */

.catalog-services3:hover .catalog-services-title {
  bottom: 0;
}

.catalog-services-title {
  width: 100%;
  height: 100%;
  bottom: -110%;
  position: absolute;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(2px);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
  border-radius: 8px;
}

.card3 .hpj {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card3 .read-more {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  margin-top: 10%;
}

/* Media Queries for Catalogue of Services */

@media (min-width: 769px;) {
  .catalog-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .catalog-services1, .catalog-services2, .catalog-services3 {
    width: 30%;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    border: 7px solid orange;
    position: relative;
    object-fit: cover;
  }
}